.user-connect{
    width: 60%;
    max-width: 300px;
    height: 30px;
    border-style: none;
    border-radius: 50px;
    background: linear-gradient(to bottom right, #1de0e7, #27c2eb);
    color: white;
    margin: auto;
}

.user-info{
    display: flex;
    flex-direction: column;
}