.username-input{
    width: 100vw;
    height: 5vh;
}

.message-input{
    width: 90%;
    height: 10vh;
}

.send-message{
    width: 10%;
    height: 10vh;
}

.chat-container{
    height: 72vh;
    width: 100vw;
}

.chat{
    /* position: relative; */
    /* top: 20vh; */
}