* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN SECTION */

.body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
}

.main-section {
  background-image: url(../../images/startup-photos.jpg);
  background-position: -80vw;
  background-size: cover;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #10161fce;
}

.container {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 1;
  border-bottom: 1px solid #f0f0ff;
  width: 70%;
}

.main-text {
  font-size: 22px;
  text-transform: capitalize;
  padding: 20px 10px;
  font-weight: 300;
  letter-spacing: 3px;
}

.connect-button {
  position: absolute;
  top: 70%;
  width: 50%;
  height: 6%;
  border-style: none;
  border-radius: 50px;
  transform: translate(-50%);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: 1.5px solid #27c2eb;
  font-size: 18px;
  letter-spacing: 4px;
}

/* CONNECT */

.background-image {
  position: relative;
  width: 100vw;
  height: 20vh;
  background-image: url(../../images/connect-lines.png);
  background-position: -10vh 7vh;
  background-size: 550px;
  transform: rotate(180deg);
  background-repeat: no-repeat;
}

.connect-header {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 8px;
  color: #27c2eb;
  font-weight: 600;
  position: absolute;
  top: 110vh;
  right: 16vw;
}

.connect-text-container {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: #27c2eb;
  width: 75vw;
  letter-spacing: 3px;
  border-left: 1px solid #27c2eb;
  padding: 16px 20px;
  margin: auto;
}

/* CONNECT LINES  */

.connect-lines {
  background-image: url(../../images/feature-lines.png);
  background-repeat: no-repeat;
  width: 375px;
  height: 700px;
  z-index: 0;
  margin: auto;
}

/* CONNECT GLOBAL */

.home-about {
  display: flex;
  flex-direction: column;
  margin: 5vh 0;
}

.devices,
.career,
.team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
  margin: 1.5vh auto;
}

.devices-image,
.career-image,
.team-image {
  width: 27vw;
  height: 27vw;
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
}

.devices-text,
.career-text,
.team-text {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #27c2eb;
}

/* DEVICES */

.devices {
  margin-top: 25px;
}

.devices-text {
  width: 40vw;
}

.devices-image {
  background-image: url(../../images/devices-blue.png);
}

/* CAREER */

.career {
  flex-direction: row-reverse;
  top: 155vh;
}

.career-text {
  text-align: right;
  width: 40vw;
}

.career-image {
  background-image: url(../../images/globe-blue.png);
  background-size: 100%;
}

/* TEAM */

.team {
  align-items: center;
  width: 75vw;
}

.team-text {
  font-size: 16px;
  text-align: left;
  padding: 10px 0 10px 20px;
  border-left: 1px solid #27c2eb;
}

.team-image {
  background-image: url(../../images/group-blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}

/* MEDIA QUIREIES */

@media (min-width: 425px) {
  .background-image {
    background-image: none;
    height: 15vh;
  }

  .connect-header {
    left: 50%;
    top: 105vh;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
  }

  .devices-image,
  .career-image,
  .team-image {
    width: 22vw;
    height: 22vw;
  }
}

@media (min-width: 528px) {
  .main-section {
    background-position: -60vw;
  }

  .container {
    width: 60vw;
  }

  .connect-button {
    width: 40%;
  }

  .devices-image,
  .career-image,
  .team-image {
    width: 20vw;
    height: 20vw;
  }

  .devices,
  .career,
  .team {
    width: 65vw;
    width: 65vw;
  }
}

@media (min-width: 620px) {
  .main-section {
    background-position: -50vw;
    background-size: 200%;
  }

  .container {
    top: 40%;
    width: 40vw;
  }

  .connect-button {
    width: 35%;
  }

  .connect-text {
    font-size: 24px;
  }

  .devices-image,
  .career-image,
  .team-image {
    width: 16vw;
    height: 16vw;
  }
}

@media (min-width: 790px) {
  .devices-image,
  .career-image,
  .team-image {
    width: 14vw;
    height: 14vw;
  }

  .team-image{
    width: 12vw;
  }

  .devices-text,
  .career-text,
  .team-text {
    font-size: 16px;
  }

  .devices,
  .career,
  .team {
    width: 60vw;
  }

  .connect-text-container{
    width: 60vw;
  }
}

@media (min-width: 900px) {
  .main-section {
    background-position: -30vw;
    background-size: 150%;
  }

  .container {
    top: 40%;
  }

  .connect-button {
    width: 25%;
  }

  .devices-image,
  .career-image,
  .team-image {
    width: 12vw;
    height: 12vw;
  }

  .devices,
  .career,
  .team{
    width: 55vw;
  }
}

@media (min-width: 1025px) {
  .main-section {
    background-size: 130%;
  }

  .container {
    top: 40%;
  }

  .connect-button {
    width: 20%;
  }

  .home-about{
    flex-direction: row;
    width: 80vw;
    margin: 75px auto;
  }

  .connect-text{
    font-size: 28px;
    font-weight: 300;
  }

  .devices, .career, .team{
    flex-direction: column;
    width: 30%;
    margin-bottom: 25px;
  }

  .devices-text, .career-text, .team-text{
    font-weight: 300;
    font-size: 20px;
    width: 40%;
    text-align: center;
    border: none;
    padding: 0;
    line-height: 1.6em;
  }

  .devices-image,
  .career-image,
  .team-image {
    width: 11vw;
    height: 11vw;
    margin: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 1250px) {
  .main-section {
    background-position: -20vw;
    background-size: 120%;
  }

  .container {
    top: 40%;
    width: 25vw;
  }

  .connect-button {
    width: 15vw;
  }

  .connect-text-container{
    width: 50vw;
  }

  .devices,
  .career,
  .team{
    width: 40vw;
  }

  .devices-image,
  .career-image,
  .team-image {
    width: 10vw;
    height: 10vw;
    margin: 10px;
  }

  .team-image{
    width: 8vw;
  }
}
