textarea{
    resize: none;
    color: #27c2eb;
}

textarea::placeholder{
    color: #27c2eb;
}

.post-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #27c2eb;
    border: white 1px solid;
    position: fixed;
    bottom: 16px;
    left: 16px;
    /* background-image: url() */
}

.new-post-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 200px;
    background: linear-gradient(to bottom right, #1de0e7, #27c2eb);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.219) 0 0 10px;
}

.textarea{
    width: 90%;
    height: 70%;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
    padding: 5px;
}

.add-post{
    padding: 5px;
    margin: 10px 0;
    margin-bottom: 5px;
    border-style: none;
    border-radius: 50px;
    width: 25vw;
    background-color: white;
    color: #27c2eb;
}

@media(min-width: 528px) {
    .new-post-container{
        height: 275px;
    }

    .textarea{
        font-size: 22px;
    }
}

@media(min-width: 620px) {
    .new-post-container{
        height: 325px;
    }

    .textarea{
        font-size: 24px;
    }
}

@media(min-width: 900px) {
    .new-post-container{
        height: 400px;
    }

    .textarea{
        font-size: 26px;
    }

    .add-post{
        height: 35px;
        font-size: 18px;
    }
}

@media(min-width: 1025px) {
    /* .new-post-pontainer, .new-post-container, .post-btn{
        display: none;
    } */

    .new-post-container{
        width: 820px
    }
}