.login{
    display: none;
}

.nav-pfp, .nav-pfp-hide{
    opacity: 0;
    width: 60vw;
    height: 60vw;
    background-image: url(../../images/default-pfp-2.png);
    background-size: 200%;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    z-index: 10;
    transition: ease-in-out .7s;
}

.nav-pfp-hide{
    top: 35%;
    opacity: 1;
}

.nav-links, .nav-true{
    position: absolute;
    top: 30vh;
    text-align: right;
    display: flex;
    flex-direction: column;
    transition: ease-in-out 1s;
    z-index: 10;
}

.nav-links{
    left: -100vw;
}

.nav-true{
    /* left: 50vw; */
    left: -100vw;
}

.link{
    text-decoration: none;
    color: #e1e1e3;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 40px;
}

.grow, .shrink{
    width: 0;
    height: 0;
    background-color: #10161f;
    border-radius: 50%;
    position: absolute;
    top: 4vh;
    left: 5vh;
    transition: ease-in-out .7s;
    z-index: 5;
}

.grow{
    width: 250vh;
    height: 250vh;
    transform: translate(-50%, -50%);
}