* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 10vh;
  z-index: 1000;
  background-color: rgba(37, 43, 45, 0.822);
  position: fixed;
  top: 0;
}

.header-container {
  z-index: 10000;
  margin: auto;
  width: 80%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.menu-container,
.menu-container-true {
  width: 30px;
  height: 30px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.hamburger-menu-left,
.hamburger-menu-right,
.hamburger-menu-mid {
  background-color: white;
  width: 31px;
  height: 5px;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
}

.hamburger-menu-mid {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.exit-menu-left,
.exit-menu-right,
.exit-menu-mid {
  transition: ease-in-out 0.5s;
  background-color: white;
  width: 31px;
  height: 5px;
  border-radius: 5px;
}

.exit-menu-mid {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.exit-menu-left {
  transform: translate(0, 200%) rotate(-45deg);
  transform-origin: center center;
}

.exit-menu-right {
  transform: translate(0, -200%) rotate(45deg);
  transform-origin: center center;
}

.showExit {
  position: absolute;
}

.main-logo-link {
  width: 40%;
  height: 70%;
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.main-logo-link-true {
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: ease-in-out 0.4s;
}

.main-logo {
  width: 100%;
  height: 100%;
  background-image: url(../../images/ConnectDevLargeWhite.png);
  background-size: cover;
  background-position: center;
}

.header-pfp,
.header-pfp-true,
.default-header-pfp,
.default-header-pfp-true {
  width: 6vh;
  height: 6vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-image: url(../../images/default-pfp-2.png);
  border: 2px solid white;
  transition: .4s ease-in-out;
}

.default-header-pfp {
  background-size: 325%;
}

.header-pfp:hover,
.header-pfp-true:hover,
.default-header-pfp:hover,
.default-header-pfp-true:hover {
  border: 2px solid #2291ff;
}

.default-header-pfp-true {
  background-size: 325%;
  opacity: 0;
}

.header-pfp-true {
  opacity: 0;
}

.header-pfp-hover,
.header-pfp-hover-true {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: ease-in-out .4s;
}

.header-pfp-hover,
.header-pfp-hover-true {
  border-radius: 10px 0 0 10px;
  width: 264px;
  min-height: 170px;
  top: 9vh;
  background: linear-gradient(to bottom right, #2291ff, #6b1180);
  right: -10vw;
  transform: translate(100%);
}

.header-pfp-hover {
  right: -10vw;
  transform: translate(100%);
  top: 10vh;
}

.header-pfp-hover-true {
  right: -7vw;
  top: 10vh;
  transform: translate(5%);
}

.inner-pfp-hover-true {
  background-color: rgb(58, 65, 65);
  width: 260px;
  min-height: 166px;
  margin: auto;
  transition: ease-in-out 0.5s;
  border-radius: 9px 0 0 9px;
}

.inner-pfp-hover {
  background-color: rgb(58, 65, 65);
  width: 260px;
  min-height: 166px;
  border-radius: 9px 0 0 9px;
  margin: auto;
  transition: ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-pfp-text {
  color: white;
  font-size: 26px;
  font-weight: 300;
  width: 70%;
  margin: 15px auto;
}

.header-pfp-login {
  width: 100px;
  height: 25px;
  border-radius: 1000px;
  border-style: none;
  background: linear-gradient(to left, #2291ff, #6b1180);
  color: white;
  margin: 6px;
}

.header-pfp-info,
.header-edit,
.header-pfp-username {
  color: white;
  margin: 3px;
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.header-edit:hover,
.header-pfp-username:hover {
  color: #2291ff;
}

/* MEDIA QUERIES */

@media (min-width: 425px) {
  .main-logo-link {
    width: 30%;
    height: 60%;
  }
}

@media (min-width: 528px) {
  .main-logo-link {
    width: 25%;
    height: 60%;
  }

  .menu-container {
    width: 7vw;
  }
}

@media (min-width: 620px) {
  .main-logo-link {
    width: 20%;
    height: 60%;
  }

  .menu-container {
    width: 6vw;
  }
}

@media (min-width: 790px) {
  .main-logo-link {
    width: 18%;
  }
}

@media (min-width: 900px) {
  .main-logo-link {
    width: 17%;
  }

  .menu-container {
    width: 5vw;
  }

  .default-header-pfp {
    background-size: 320%;
  }

  .header-container {
    width: 85%;
  }

  .main-logo-link {
    width: 13%;
    height: 60%;
  }

  .menu-container {
    width: 3vw;
  }
}

@media (min-width: 1025px) {
  .main-logo-link {
    width: 13%;
    height: 60%;
  }

  .menu-container {
    width: 4vw;
  }
}

@media (min-width: 1250px) {
  .main-logo-link {
    width: 10%;
    height: 60%;
  }

  .menu-container {
    width: 3vw;
  }
}
