* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 10vh;
  z-index: 1000;
  background-color: rgba(37, 43, 45, 0.822);
  position: fixed;
  top: 0;
}

.header-container {
  z-index: 10000;
  margin: auto;
  width: 80%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.menu-container, .menu-container-true {
  width: 38px;
  height: 38px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.hamburger-menu-left,
.hamburger-menu-right,
.hamburger-menu-mid {
  background-color: white;
  width: 100%;
  height: 14%;
  border-radius: 5px;
  transition: ease-in-out 0.25s;
}

.hamburger-menu-mid {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.exit-menu-left,
.exit-menu-right,
.exit-menu-mid {
  transition: ease-in-out 0.5s;
  background-color: white;
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

.exit-menu-mid {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.exit-menu-left {
  transform: translate(0, 250%) rotate(-45deg);
  transform-origin: center center;
}

.exit-menu-right {
  transform: translate(0, -250%) rotate(45deg);
  transform-origin: center center;
}

.showExit {
  position: absolute;
}

.main-logo-link {
  width: 40%;
  height: 70%;
  transition: ease-in-out .4s;
}

.main-logo-link-true {
  width: 0%;
  height: 0%;
  transition: ease-in-out .4s;
}

.main-logo {
  width: 100%;
  height: 100%;
  background-image: url(../../images/ConnectDevLargeWhite.png);
  background-size: cover;
  background-position: center;
}

.header-pfp,
.header-pfp-true,
.default-header-pfp,
.default-header-pfp-true {
  width: 6vh;
  height: 6vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-image: url(../../images/default-pfp-2.png);
  border: 2px solid white;
  transition: ease-in-out .4s;
}

.default-header-pfp {
  background-size: 325%;
}

.default-header-pfp-true{
  width: 0vh;
  height: 0vh;
  border: 2px solid rgba(255, 255, 255, 0);
  background-size: 325%;
}

.header-pfp-true{
  width: 0;
  height: 0;
  border: 2px solid rgba(255, 255, 255, 0);
}

.header-pfp-hover,
.header-pfp-hover-true {
  width: 1px;
  height: 0vh;
  position: absolute;
  right: 6vw;
  top: 9vh;
  color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header-pfp-hover {
  transition: ease-in-out 0.7s;
  animation: header-pfp-out linear 0.5s forwards;
}

.header-pfp-hover-true {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  animation: header-pfp-in linear 0.5s forwards;
}

.header-pfp-hover-true a {
  color: rgba(0, 0, 0, 0);
  animation: header-pfp-in linear 0.5s forwards;
}

.header-pfp-text {
  font-style: italic;
  font-weight: 400;
  padding: 10px 0;
  animation: header-text-in linear 0.5s forwards;
}

.header-pfp-login {
  opacity: 0;
  border-style: none;
  border-radius: 50px;
  width: 50%;
  height: 25px;
  background: linear-gradient(to top left, #27c2eb, #1de0e7);
  color: white;
  animation: header-button-in linear 0.5s forwards;
  margin: 0;
}

.header-pfp-username {
  font-weight: 400;
  font-size: 20px;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0);
  animation: header-text-in linear 0.5s forwards;
}

.header-pfp-username:hover {
  color: #2B7ED2;
}

.header-pfp-info {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0);
  animation: header-text-in linear 0.5s forwards;
}

.header-edit {
  font-size: 12px;
  transition: 0.3s linear;
}

.header-edit:hover {
  color: #2B7ED2;
}

@keyframes header-pfp-in {
  50% {
    height: 150px;
    width: 1px;
    color: rgba(0, 0, 0, 0);
    font-size: 1px;
  }
  100% {
    width: 250px;
    height: 150px;
    color: black;
    font-size: 30px;
  }
}

@keyframes header-pfp-out {
  0% {
    width: 250px;
    height: 150px;
    color: black;
    font-size: 30px;
  }
  50% {
    height: 150px;
    width: 1px;
    color: rgba(0, 0, 0, 0);
    font-size: 1px;
  }
}

@keyframes header-button-in {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes header-text-in {
  50% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: black;
  }
}

/* MEDIA QUERIES */

@media (min-width: 425px) {
  .main-logo-link {
    width: 30%;
    height: 60%;
  }
}

@media (min-width: 528px) {
  .main-logo-link {
    width: 25%;
    height: 60%;
  }

  .menu-container {
    width: 7vw;
  }

  .header-pfp-hover,
  .header-pfp-hover-true {
    right: 5vw;
  }
}

@media (min-width: 620px) {
  .main-logo-link {
    width: 20%;
    height: 60%;
  }

  .menu-container {
    width: 6vw;
  }

  .header-pfp-hover,
  .header-pfp-hover-true {
    right: 4vw;
  }
}

@media (min-width: 790px){
  .main-logo-link {
    width: 18%;
  }
}

@media (min-width: 900px) {
  .main-logo-link {
    width: 17%;
  }

  .menu-container {
    width: 5vw;
  }

  .default-header-pfp {
    background-size: 320%;
  }

  .header-container {
    width: 85%;
  }

  .main-logo-link {
    width: 13%;
    height: 60%;
  }

  .menu-container {
    width: 3vw;
  }

  .header-pfp-hover,
  .header-pfp-hover-true {
    right: 3vw;
  }
}

@media (min-width: 1025px) {
  .main-logo-link {
    width: 13%;
    height: 60%;
  }

  .menu-container {
    width: 4vw;
  }

  .header-pfp-hover,
  .header-pfp-hover-true {
    right: 2vw;
  }
}

@media (min-width: 1250px) {
  .main-logo-link {
    width: 10%;
    height: 60%;
  }

  .menu-container {
    width: 3vw;
  }

  .header-pfp-hover,
  .header-pfp-hover-true {
    right: 1vw;
  }
}
