* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 10vh;
  z-index: 1000;
}

.header-container {
  z-index: 10000;
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  width: 9vw;
  height: 3vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hamburger-menu-left,
.hamburger-menu-right,
.hamburger-menu-mid {
  background-color: white;
  width: 100%;
  height: 20%;
  border-radius: 5px;
  transition: ease-in-out 0.7s;
}

.hamburger-menu-mid {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.exit-menu-left,
.exit-menu-right,
.exit-menu-mid {
  transition: ease-in-out 0.7s;
  background-color: white;
  width: 86%;
  height: 20%;
  border-radius: 5px;
}

.exit-menu-mid {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.exit-menu-left {
  transform: rotate(-45deg);
  transform-origin: right top;
}

.exit-menu-right {
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.showExit {
  position: absolute;
}

.main-logo {
  width: 40%;
  height: 70%;
  background-image: url(../../images/ConnectDevLargeWhite.png);
  background-size: cover;
  background-position: center;
}

.header-pfp{
  width: 6vh;
  height: 6vh;
  background-image: url(../../images/default-pfp-2.png);
  background-position: center;
  background-size: 225%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* MEDIA QUERIES */

@media (min-width: 425px) {
  .main-logo {
    width: 30%;
    height: 60%;
  }

  .notification-bell {
    width: 10vw;
    height: 10vw;
  }
}

@media (min-width: 528px) {
  .main-logo {
    width: 20%;
    height: 60%;
  }

  .menu-container {
    width: 7vw;
  }
}

@media (min-width: 620px) {
  .main-logo {
    width: 15%;
    height: 60%;
  }

  .menu-container {
    width: 6vw;
  }
}

@media (min-width: 900px) {
  .main-logo {
    width: 12%;
    height: 60%;
  }

  .menu-container {
    width: 5vw;
  }

  .header-pfp{
    background-size: 275%;
  }

  .header-container{
      width: 85%;
  }
}

@media (min-width: 1025px) {
  .main-logo {
    width: 10%;
    height: 60%;
  }

  .menu-container {
    width: 4vw;
  }
}

@media (min-width: 1250px) {
  .main-logo {
    width: 8%;
    height: 60%;
  }

  .menu-container {
    width: 3vw;
  }

  .header-container{
      width: 90%
  }
}
