.profile-banner {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgba(25, 119, 207, 0.2),
    rgba(45, 7, 95, 0.2)
  );
  color: aliceblue;
}

.profile-pic,
.default-profile-pic {
  margin-top: 12vh;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: 300%;
  z-index: 5;
}

.default-profile-pic {
  background-image: url(../../images/default-pfp-2.png);
  background-size: 311%;
  background-color: linear-gradient(
    to bottom right,
    rgba(25, 119, 207, 0.2),
    rgba(45, 7, 95, 0.2)
  );
}

.user-info {
  background-color: rgb(58, 65, 65);
  color: white;
  width: 100%;
  max-width: 600px;
  min-height: 40vh;
  margin: 2px;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  z-index: 1;
}

.profile-border {
  width: calc(80vw + 4px);
  max-width: 604px;
  min-height: calc(40vh + 4px);
  background: linear-gradient(to bottom right, #2291ff, #6b1180);
  margin: 10px auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.not-logged {
  font-size: 28px;
  margin-top: 5vh;
  margin-bottom: 2vh;
  text-align: center;
}

.user-name {
  font-size: 28px;
  font-weight: 300;
  margin: 10px 0;
}

.info-title {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.698);
}

.info {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}

.user-port {
  color: white;
  width: 90%;
  word-wrap: break-word;
}

.not-logged {
  margin-top: 15%;
  font-style: italic;
  font-weight: 400;
}

.posts-title {
  margin-top: 30px;
  font-size: 26px;
}

.profile-button {
  border-style: none;
  padding: 3px;
}

.profile-active {
  background-color: #27c2eb;
}

.profile-location {
  color: black;
  border: 1px solid black;
}

.profile-location-container {
  position: relative;
}

.profile-log-out,
.update-info-btn,
.profile-log-in,
.delete-post {
  border-style: none;
  border-radius: 15px;
  width: 45%;
  height: 25px;
  background: linear-gradient(to left, #3275e3, #6b1180);
  color: white;
  margin-top: 20px;
  font-weight: 200;
  box-shadow: rgba(0, 0, 0, 0.205) 0 0 15px;
}

.profile-log-out {
  width: 100%;
}

.log-out-btn {
  width: 45%;
}

.profile-log-in {
  border-radius: 25px;
  width: 225px;
  height: 40px;
  margin: 15px auto;
}
.login-a-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-post-username {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.profile-post-location {
  font-weight: 200;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.698);
}

.delete-post {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -100%);
  margin-right: 10px;
  min-width: 75px;
  width: 10vw;
  max-width: 120px;
  letter-spacing: 0.1em;
}

@media (max-width: 415px) {
  .delete-post {
    min-width: 60px;
    font-size: 10px;
  }
}
