footer{
    width: 100vw;
    background-color: #10161f;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}

.footer-left{
    text-align: left;
    margin: 25px 0;
}

.footer-right{
    text-align: right;
    margin: 25px 0;
}

.footer-title{
    font-size: 24px;
    margin-bottom: 10px;
}

.copyright{
    background-color: #10161f;
    color: aliceblue;
    text-transform: uppercase;
    padding: 10px;
    font-size: 10px;
}