.about-container{
    width: 80vw;
    margin: 30px auto;
    text-align: left;
    background-color: aliceblue;
    padding: 10px;
}

.about-header{
    font-size: 22px;
    text-align: center;
}

.about-created, .section-title{
    margin: 20px 0;
    padding: 10px;
}

.section-text{
    margin: 10px;
}